/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-weight: bold;
}

.main-navbar {
  height: calc(100% - 76px);
}

.row {
  height: 100%;
  overflow-y: auto;
}

#info-weather-container {
  padding: 15px;
  overflow-y: auto;
  background: #eee;
}

.detail-container {
  padding: 15px;
  overflow-y: auto;
  height: 100%; 
  background: #eee;
}

#map-container {
  padding: 0px;
  height: 100%;
}

.error-city-input {
  background-color: red !important;
}